<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tm.core">

    <application>
        <activity
            android:name=".player.PlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".player.FullScreenPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
    </application>

</manifest>